@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Inter&family=DM+Sans&family=Roboto:wght@400;500;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background: #6f6af7;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 5vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.title {
  color: #fff;
  font-family: Delius Unicase;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  color: #fff;
  font-family: DM Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
}

.nav-link {
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.search-bar {
  background: transparent;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  max-width: 700px;
}

.search-bar-text {
  border-radius: 63px;
  flex: 1;
  outline: none;
  border-style: none;
  background: #fff;
  height: 1vh;
  width: 18vw;
  padding: 24px 20px;
}

::placeholder {
  color: #9f9f9f;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  text-align: bottom;
  line-height: normal;
}

.search-button {
  background: transparent;
  border-style: none;
  padding-bottom: -10px;
  margin-left: -50px;
  cursor: pointer;
}

.hamburger {
  background: transparent;
  outline: none;
  border-style: none;
  cursor: pointer;
}

.container {
  margin-top: 0;
}
.social-icons {
  position: sticky;
  top: 130px;
  float: left;
  bottom: 100px;
  left: 96.5%;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: 49px;
  height: 154px;
  padding: 0;
}
.social-icons a {
  position: sticky;

  margin: 0;
  text-align: right;
  cursor: pointer;
}

.social-icons img {
  height: 50px;
  width: 50px;
}

.whatsapp-icon {
  border: 2px solid black;
  border-radius: 7px;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.hero-section-img {
  border-radius: 20px;
  margin-right: 40px;
  border: 6px solid #fff;
  box-shadow: #6f7373;
}

.hero-img {
  width: 140%;
  height: 100%;
  border-radius: 20px;
  background: #d9d9d9;
}

.hero-section-container {
  margin-left: 100px;
  margin-right: -20px;
  border-radius: 20px;
  border: 6px solid #fff;
  background: #e5d8ff;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
}

.hero-text {
  color: #6f7373;
  font-family: DM Sans;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 178.7%;
  padding: 30px;
}

.progress {
  display: flex;
  margin: 100px;
  margin-left: 47px;
  margin-right: 30px;
  justify-content: space-around;
}

.total-questions {
  height: 100px;
  width: 250px;
  border-radius: 11px;
  background: #929dff;
  padding: 17px;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}

.total-Answers {
  height: 100px;
  width: 250px;
  padding: 17px;
  border-radius: 11px;
  background: #734cf2;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}

.Participated {
  height: 100px;
  width: 250px;
  padding: 17px;
  border-radius: 11px;
  background: #d288ff;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}

.Passed {
  height: 100px;
  width: 250px;
  padding: 17px;
  border-radius: 11px;
  background: #000;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
}
.progress-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 178.7%;
  letter-spacing: 1.16px;
}
.progress-Number {
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 178.7%;
  letter-spacing: 1.12px;
}

.Info {
  display: flex;
  padding: 5px;
  border-radius: 21px;
  background: #483eff;
  margin: 105px;
  margin-right: 80px;
}

.part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}
.part-1 button {
  margin: 20px;
  height: 20vh;
  width: 25vw;
  border-radius: 22px;
  border: 5px solid #fff;
  background: #483eff;
  color: #fff;
  font-family: DM Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 178.7%;
  letter-spacing: 1.4px;
  cursor: pointer;
}

.part-1 .Your-Info {
  background: #bce0f6;
  color: #000;
}

.part-2 {
  margin: 50px;
  height: 80vh;
  width: 100%;
  margin-right: 20px;
  margin-left: 5px;
  border-radius: 19px;
  background: #fff;
  padding: 50px;
}

.heading {
  color: #04285a;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.99px;
  padding: 10px;
}

.data {
  list-style: none;
  color: #04285a;
  font-family: Roboto;
  margin: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.94px;
}

.data li {
  padding: 10px;
  display: flex;
}
.data .content {
  margin-left: 20px;
  color: #143565;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.colon {
  display: flex;
  margin-left: 10px;
  justify-self: space-between;
}
.colon-1 {
  margin-left: 17px;
}

.Next-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 170px;
}

.Next-button .Next {
  height: 10vh;
  width: 30vh;
  border-radius: 9px;
  background: #000;
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.support img {
  position: fixed;
  float: left;
  height: 130px;
  left: 92%;
  top: 85%;

  cursor: pointer;
}
